<link href="~/Content/Pizzas.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Pizzas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center p-4">
    <h2>Pizzas</h2>
    <div>

    </div>
</div>

@{
    var pizzas = ViewBag.Pizzas;
}

<!-- Lista de pizzas utilizando rows-->
@foreach (var pizza in pizzas)
{
    <div class="row border border-2 ">
        <div class="col-md-4">
            @pizza.Nome
        </div>
        <div class="col-md-4">
            @pizza.Descricao
        </div>
        <div class="col-md-4">
            @pizza.Valor
        </div>
    </div>
}
<br />

<!-- Lista de pizzas utilizando tables-->
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Ingredientes</th>
                    <th>Valor</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pizza in pizzas)
                {
                    <tr>
                        <td>@pizza.Nome</td>
                        <td>@pizza.Descricao</td>
                        <td>R$@pizza.Valor</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>