<link href="~/Content/Pizzas.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@{
    ViewBag.Title = "Pizzas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    var pizzas = ViewBag.Pizzas;
}



<div class="row justify-content-center text-center">
    <div>
        <ul class="list-group list-group-horizontal fw-bold border border-dark">
            <li class="list-group-item col-md-4">@Html.ActionLink("Nome", "Pizzas", new { ordem = 0 })</li>
            <li class="list-group-item col-md-4">@Html.ActionLink("Tipo", "Pizzas", new { ordem = 1 })</li>
            <li class="list-group-item col-md-4">@Html.ActionLink("Valor", "Pizzas", new { ordem = 2 })</li>
        </ul>
    </div>
</div>

<br />
<div class="row justify-content-center text-center">
    <div class="col-md-3 fw-bold">
        <h4>
            <img src="~/Content/imagens/Pizzas/3Queijos.jpg" />
            4Queijos
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/Calabresa.jpg" />
            Calabresa
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/Fran com requeijão.jpg" />
            Frango com Queijo
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/brigadeiro.jpg" />
            Brigadeiro
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/Pepperoni.jpg" />
            Pepperoni
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/Napolitana.jpg" />
            Napolitana
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/Presunto.jpg" />
            Presunto
        </h4>
    </div>
    <div class="col-md-3 fw-bold text-center">
        <h4>
            <img src="~/Content/imagens/Pizzas/Catuperoni.jpg" />
            Catuperoni
        </h4>
    </div>
</div>

<br />
<br />

<div class="row">
    <div>
        <ul class="list-group list-group-horizontal fw-bold border border-dark">
            <li class="list-group-item col-md-3">Nome</li>
            <li class="list-group-item col-md-4">Ingredientes</li>
            <li class="list-group-item col-md-2">Valor</li>
            <li class="list-group-item col-md-3 text-center">Funcionalidades</li>
        </ul>
    </div>
    <div class="col-md-12">
        @foreach (var p in pizzas)
        {
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-md-3">@p.Nome</li>
                <li class="list-group-item col-md-4">@p.Descricao</li>
                <li class="list-group-item col-md-2">R$@p.Valor</li>
                <li class="list-group-item col-md-1 text-center fw-bold"><a class="listaButton" href="/Pizza/PizzaDetalhes/@p.Id">Detalhes</a></li>
                <li class="list-group-item col-md-1 text-center fw-bold"><a class="listaButton" href="/Pizza/DeletarPizza/@p.Id">Deletar</a></li>
                <li class="list-group-item col-md-1 text-center fw-bold"><a class="listaButton" href="/Pizza/AtualizarPizza/@p.Id">Atualizar</a></li>
            </ul>
        }
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-1 text-center fw-bold"><a class="listaButton" href="/Pizza/CriarPizza">Criar</a></li>
        </ul>
    </div>
</div>