<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

@{
    ViewBag.Title = "Esfihas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var esfihas = ViewBag.Esfihas;
}

<br />
<div class="row justify-content-center text-center">
    <div class="col-md-3 fw-bold">
        <h4>
            <img src="~/Content/imagens/Esfihas/Carne.png" />
            Carne
        </h4>
    </div>
    <div class="col-md-3 fw-bold">
        <h4>
            <img src="~/Content/imagens/Esfihas/Folhada a doce de leite.png" />
            Folhada a doce de leite
        </h4>
    </div>
    <div class="col-md-3 fw-bold">
        <h4>
            <img src="~/Content/imagens/Esfihas/Italianinha.png" />
            Italianinha
        </h4>
    </div>
</div>
<br/>
<br/>

<div class="row text-center">
    <div>
        <ul class="list-group list-group-horizontal fw-bold justify-content-center">
            <li class="list-group-item col-md-2 border-dark">@Html.ActionLink("Nome", "Esfihas", new { ordem = 0 })</li>
            <li class="list-group-item col-md-2 border-dark">@Html.ActionLink("Tipo", "Esfihas", new { ordem = 1 })</li>
            <li class="list-group-item col-md-2 border-dark">@Html.ActionLink("Valor", "Esfihas", new { ordem = 2 })</li>
        </ul>
    </div>
</div>

<br />
<div class="row">
    <div>
        <ul class="list-group list-group-horizontal fw-bold border border-dark">
            <li class="list-group-item col-md-3">Nome</li>
            <li class="list-group-item col-md-1">Tipo</li>
            <li class="list-group-item col-md-3">Ingredientes</li>
            <li class="list-group-item col-md-2">Valor</li>
            <li class="list-group-item col-md-3 text-center">Funcionalidades</li>
        </ul>
    </div>
    <div class="col-md-12">
        @foreach (var esfiha in esfihas)
        {
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item col-md-3">@esfiha.Nome</li>
                <li class="list-group-item col-md-1">@esfiha.TipoNome</li>
                <li class="list-group-item col-md-3">@esfiha.Descricao</li>
                <li class="list-group-item col-md-2">R$@esfiha.Valor</li>
                <li class="list-group-item col-md-1 text-center fw-bold d-flex align-items-center p-0"><a class="listaButton" href="/Esfiha/EsfihaDetalhes/@esfiha.Id">Detalhes</a></li>
                <li class="list-group-item col-md-1 text-center fw-bold d-flex align-items-center p-0"><a class="listaButtonDeletar" href="/Esfiha/DeletarEsfiha/@esfiha.Id">Deletar</a></li>
                <li class="list-group-item col-md-1 text-center fw-bold d-flex align-items-center p-0"><a class="listaButton" href="/Esfiha/AtualizarEsfiha/@esfiha.Id">Atualizar</a></li>
            </ul>
        }
    <br/>
    <div>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item col-md-1 text-center fw-bold"><a href="/Esfiha/CriarEsfiha">Criar</a></li>
        </ul>
    </div>

    </div>
</div>
